@charset "utf-8";


.fonte{
	 
	font-family: "Berlin Sans FB Demi","book Antiqua", "Century Gothic", sans-serif;
    font-size: 2em;
    font-weight: bold;
	text-align: center;
	padding-top: 10px;
	
}


.risco{
	border-top: 8px double #391447;
	width: 390px;
	height: 1px;
    position: absolute;
	left: 100px;
    top: 130px;		
	
}

.risco2{
	border-top: 8px double #391447;
	width: 390px;
	height: 1px;
    position: absolute;
	right: 100px;
    top: 130px;
			
}
